*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Roboto Slab', serif;
}

.container{
    width: 114rem;
    padding: 0 1.5rem;
    margin: 0 auto;
}

h2{
    font-size:1.8rem;
    margin-bottom: 1rem;
    font-weight: 400;
}

header>div:first-child{
    background-color: #722b79;
    padding: 1rem 0;
}

header>div:last-child{
    background-color: #eae8ea;
}

nav>ul{
    font-size: 0;
}

nav>ul>li{
    display: inline-block;
}

nav>ul>li>a{
    display: block;
    height: 4rem;
    padding: 0 2rem;
    line-height: 4rem;
    vertical-align: middle;
    font-size: 1.4rem;
    color: rgb(63, 63, 63);
    border-right: 1px solid rgb(170, 170, 170); 
}

nav>ul>li:last-child>a{
    border-right: none;
}

nav>ul>li>a:hover{
    background-color: rgb(255, 125, 78);
    color: white;
}

main>div:first-child{
    margin: 2rem 0;
}


main>div:first-child>ul{
    display: flex;
    flex-wrap: wrap;
}


main>div:first-child>ul>li{
    color: #722b79;
    font-size: 2.4rem;
    font-weight: bold;
}

main>div:first-child>ul>li:before{
    display: inline-block;
    content:'';
    border-radius: 50%;
    background-color: #722b79;
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 2.5rem;
}

main>div:first-child>ul>li:first-child::before{
    display:none;
}

.section2>div,.section1>div{
    display: flex;
    justify-content: space-between;
}

.section2>div>div:first-child,.section1>div>div:first-child{
    flex-basis: 74.5%;
}

.section2>div>div:last-child,.section1>div>div:last-child{
    flex-basis: 24.5%;
}

.section1>div>div:first-child>p{
    color: #777;
    font-size: 1.8rem;
    margin: 1rem 0;
}

.section1>div>div:first-child>p:first-child{
    font-weight: bold;
    margin-bottom: 3rem;
}

.section1>div>div:last-child{
    text-align: center;
}

.section1>div>div:last-child>p{
    color: #722b79;
    margin: 1rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.section2{
    margin-top: 2rem;
}

.section2>div>div:first-child{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section2>div>div:first-child>div{
    flex-basis: 49%;
    background-color:#eae8ea;
    color: #545454;
    padding: 2rem;

    position: relative;
}

.section2>div>div:first-child>div:nth-child(1),.section2>div>div:first-child>div:nth-child(2){
    margin-bottom: 0.8rem;
}

.section2>div>div:first-child>div:nth-child(3),.section2>div>div:first-child>div:nth-child(4){
    margin-top: 0.8rem;
}

.section2>div>div:first-child>div>p{
    font-size: 1.6rem;
}

.section2>div>div:first-child>div>p>img{
    float: right;
    width: 12rem;
    height: 12rem;
}

.section2>div>div:first-child>div>a{
    display: inline-block;
    background-color:#d07312;
    font-size: 1.4rem;
    padding: 0.5rem 1rem;
    color:white;

    position: absolute;
    bottom: 2rem;
}

.section2>div>div:first-child>div>a>span{
    font-size: 1.2rem;
}

.section2>div>div:last-child{
    background-color: #722b79;
    padding: 2rem;
    color: white;
}

.section2>div>div:last-child>p{
    font-size: 1.4rem;
    text-align: justify;
    margin-bottom: 3rem;
}

.section2>div>div:last-child>div{
    margin-top: 2rem;
}

.section2>div>div:last-child>div>p,.section2>div>div:last-child>div>input{
    font-size:1.4rem;
    margin-top: 0.5rem;
    display: block;
    width: 100%;
}
.section2>div>div:last-child>div>input{
    height: 2.5rem;
    outline: 0;
}
.section2>div>div:last-child>div:last-child{
    padding-top: 0.5rem;
}

.section2>div>div:last-child>div>p>a{
    color: white;
    font-size: 1.4rem;
    background-color: #d07312;
    padding: 0.8rem 1rem;
}

footer{
    border-top: 1px solid #545454;
}

footer>div>div{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

footer>div>div>ul>li{
    display: inline-block;
}

footer>div>div>ul>li>a{
    font-size: 1.2rem;
    color: #545454;
    border-right: 0.5px solid #545454;
    padding: 0 1rem;
}

footer>div>div>ul>li:last-child>a{
    border-right: none;
}

footer>div>div>p{
    font-size: 1.2rem;
    color: #545454;
}
